<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data.Protection" version="0.21.0" targetFramework="net461" />
  <package id="Carbon.Json" version="1.9.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="1.32.0" targetFramework="net461" />
  <package id="Carbon.Storage" version="1.18.0" targetFramework="net461" />
  <package id="Carbon.VersionControl" version="1.9.1" targetFramework="net461" />
  <package id="Carbon.Versioning" version="1.5.0" targetFramework="net461" />
  <package id="GitHub" version="1.14.1" targetFramework="net461" />
  <package id="jQuery" version="3.4.1" targetFramework="net461" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net461" />
  <package id="jquery.ui.datetimepicker.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net461" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
</packages>